h1{
    text-align: left;
    padding-left: 7%;
}

img{
    margin-left: 5%;
}

.img-1{
    width: 50%;
} 

.img-2{
    border-radius: 5%;
} 

.img-3{
    background-color: rgba(227,245,245);
    padding: 1%;
    border-radius: 5%;
}

h2{
    font-family: Tahoma;
    text-transform: uppercase;
}

h2{
    padding-top: 5%;
    margin-left: 5%;
}

h3{
    margin-left: 5%;
}

/* cite{
    margin-left: 5%;
} */



