html{
    /* background-image: linear-gradient(rgba(155,202,180), rgba(218,237,232)); */
    background-image: none;
    background-color: rgba(155,202,180);
}


cite{
    background-color: rgba(155,202,180);
}

h1{
    margin-top:10%;
    padding-left: 5%;
    text-align: left;
}

h2{
    font-family: Coda_Caption;
    font-size: 200%;
    margin-left: 5%;
}

p{
    text-align: left;
}


h3{
    margin-left: 5%;
}

@media (max-width: 512px){ 

    h1{
        font-size: 200%;
    }
  }

@media (max-width: 1024px){ 
    h1{
        font-size: 300%;
        margin-top: 10%;
    }
  }
    @media (max-width: 2048px){ 
        h1{
            font-size: 400%;
            margin-top: 10%;
        }
    }