.grid{
    display: grid;
    gap: 10rem;
    grid-template-columns: repeat(2, 2fr);
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10%;
}

a:nth-child(1)
{
    width:75%;
    background-color: rgba(255,255,255,0.7);
    border-radius: 3%;

    -moz-box-shadow: 0 0 1% rgba(155,202,180);
    -webkit-box-shadow: 0 0 1% rgba(155,202,180);
    box-shadow: 0 0 1% rgba(218,237,232);

    margin-bottom: 5%;
}

a:nth-child(2)
{
    width:75%;
    background-color: rgba(255,255,255,0.7);
    border-radius: 3%;

    -moz-box-shadow: 0 0 1% rgba(155,202,180);
    -webkit-box-shadow: 0 0 1% rgba(155,202,180);
    box-shadow: 0 0 1% rgba(218,237,232);

    margin-bottom: 5%;
}

a:nth-child(1):hover
{
    background-color: rgba(155,202,180);
    cursor: pointer;
}

a:nth-child(2):hover
{
    background-color: rgba(155,202,180);
    cursor: pointer;
}

.fa-database{
    color: blue;
}

.currentPage{
    color: blue;
}

.img-1{
    width: 90%;
    border-radius: 5%;
    padding-top: 5%;
    padding-left: 5%;
}

.img-2{
    width: 90%;
    border-radius: 5%;
    padding-top: 5%;
    padding-left: 5%;
}

.img-1:hover{
    cursor: pointer;
}

.img-2:hover{
    cursor: pointer;
}

h1{
    padding-left: 5%;
}

.text-1{
    padding-top: 3%;
}

.text-2{
    padding-top: 0%;
}
/* 
.text2b{
    padding-top: 0%;
} */

.p-contact{
    background-color: rgba(25,43,55);
    border-radius: 5%;
    width: 25%;
    color: rgba(227,245,245);
    margin-left: 2%;
}

@media (max-width: 512px){ 

.grid{
    display: block;
    margin-top: 10%;
}

article:nth-child(1){
    
    margin-bottom: 10%;
}

nav{
    margin-bottom: 50%;
}

article{
    height: 60%;
}

}


    @media (max-width: 2048px){ 

        h1{
            font-size: 200%;
        }

}

@media (max-width: 1024px){ 
    .grid{
        gap: 5rem;
    }

    h1{
        font-size: 125%;
    }

}