html {
    /* background-image: linear-gradient(rgba(155,202,180), rgba(218,237,232)); */
    background-image: none;
    background-color: rgba(155,202,180);
}

cite{
    background-color: rgba(155,202,180);
}

.grid{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
}

article:nth-child(1)
{
    width:100%;
    background-color: rgba(255,255,255,0.7);
    border-radius: 3%;

    -moz-box-shadow: 0 0 1% rgba(155,202,180);
    -webkit-box-shadow: 0 0 1% rgba(155,202,180);
    box-shadow: 0 0 1% rgba(218,237,232);

    margin-bottom: 5%;
}

article:nth-child(2)
{
    width:100%;
    background-color: rgba(255,255,255,0.7);
    border-radius: 3%;

    -moz-box-shadow: 0 0 1% rgba(155,202,180);
    -webkit-box-shadow: 0 0 1% rgba(155,202,180);
    box-shadow: 0 0 1% rgba(218,237,232);

    margin-bottom: 5%;
}

.form-1{
    margin-top: 5%;
    padding: 5%;
}

.graph-title{
    color: #545454;
}

.text-2a{
    padding-left: 2%;
    padding-right: 2%;
}

/* article:nth-child(1):hover
{
    background-color: rgba(37,89,82);
    cursor: pointer;
    color: rgba(227,245,245);
}

article:nth-child(2):hover
{
    background-color: rgba(37,89,82);
    cursor: pointer;
    color: rgba(227,245,245);
}

article:nth-child(3):hover
{
    background-color: rgba(37,89,82);
    cursor: pointer;
    color: rgba(227,245,245);
}

article:nth-child(4):hover
{
    background-color: rgba(37,89,82);
    cursor: pointer;
    color: rgba(227,245,245);
} */

.dots:hover{
    font-size: 200%;
    color: darkgreen;
}


h1{
    font-size: 200%;
    text-align: center;
    margin-top: 10%;
}

h2{
    margin-top: 10%;
    font-size: 150%;
    text-align: center;
}

h3{
    font-size: 100%;
    padding: 5%;
    text-align: justify;
}

.img-1{
    max-width: 75%;
    max-height: 75%;
    width: auto;
    height: auto;
    border-radius: 5%;
    padding-left: 12.5%;

}

.img-2{
    max-width: 75%;
    max-height: 75%;
    width: auto;
    height: auto;
    border-radius: 5%;
    padding-left: 12.5%;
}

.img-1:hover{
    cursor: pointer;
}

.img-2:hover{
    cursor: pointer;
}

#viz{
    padding: 5%;
}

#viz-2{
    padding: 5%;
}


@media (max-width: 512px){ 

.grid{
    display: block;
    margin-top: 10%;
}

article:nth-child(1){
    
    margin-bottom: 10%;
}

nav{
    margin-bottom: 50%;
}

article{
    height: 60%;
}

  }

@media (max-width: 1024px){ 
    .grid{
        gap: 5rem;
    }

    h1{
        font-size: 150%;
    }
  }
    @media (max-width: 2048px){ 

    }

    