@font-face{
    font-family: Coda_Caption;
    src: url(../Coda_Caption/CodaCaption-ExtraBold.ttf);
}

.grid{
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 2fr);
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10%;
}

a:nth-child(1)
{
    width:75%;
    background-color: rgba(255,255,255,0.7);
    border-radius: 3%;

    -moz-box-shadow: 0 0 1% rgba(155,202,180);
    -webkit-box-shadow: 0 0 1% rgba(155,202,180);
    box-shadow: 0 0 1% rgba(218,237,232);

    margin-bottom: 5%;
}

a:nth-child(2)
{
    width:75%;
    background-color: rgba(255,255,255,0.7);
    border-radius: 3%;

    -moz-box-shadow: 0 0 1% rgba(155,202,180);
    -webkit-box-shadow: 0 0 1% rgba(155,202,180);
    box-shadow: 0 0 1% rgba(218,237,232);

    margin-bottom: 5%;
}

a:nth-child(3)
{
    width:75%;
    background-color: rgba(255,255,255,0.7);
    border-radius: 3%;

    -moz-box-shadow: 0 0 1% rgba(155,202,180);
    -webkit-box-shadow: 0 0 1% rgba(155,202,180);
    box-shadow: 0 0 1% rgba(218,237,232);

    margin-bottom: 5%;
}

a:nth-child(4)
{
    width:75%;
    background-color: rgba(255, 255, 255, 0.807);
    border-radius: 3%;

    -moz-box-shadow: 0 0 1% rgba(155,202,180);
    -webkit-box-shadow: 0 0 1% rgba(155,202,180);
    box-shadow: 0 0 1% rgba(218,237,232);

    margin-bottom: 5%;
}

a:nth-child(5)
{
    width:75%;
    background-color: rgba(255, 255, 255, 0.807);
    border-radius: 3%;

    -moz-box-shadow: 0 0 1% rgba(155,202,180);
    -webkit-box-shadow: 0 0 1% rgba(155,202,180);
    box-shadow: 0 0 1% rgba(218,237,232);

    margin-bottom: 5%;
}

a:nth-child(1):hover
{
    background-color: rgba(155,202,180);
    cursor: pointer;
}

a:nth-child(2):hover
{
    background-color: rgba(155,202,180);
    cursor: pointer;
}

a:nth-child(3):hover
{
    background-color: rgba(155,202,180);
    cursor: pointer;
}

a:nth-child(4):hover
{
    background-color: rgba(155,202,180);
    cursor: pointer;
}

a:nth-child(5):hover
{
    background-color: rgba(155,202,180);
    cursor: pointer;
}

img{
    padding-left: 5%;
    padding-top: 5%;
}

.img-1{
    width: 75%;
    border-radius: 5%;
    margin-bottom: 5%;
}

.img-2{
    width: 90%;
    border-radius: 5%;
    margin-right: 15%;
    margin-bottom: 5%;
}

.img-1:hover{
    cursor: pointer;
}

.img-2:hover{
    cursor: pointer;
}

.fa-paint-roller{
    color: blue;
}

.current-page{
    color: blue;
}

.text-2a{
    padding-top: 10%;
}

.text-2b{
    padding-top: 0%;
}

.text-2c{
    padding-top: 9%;
}

h1{
    font-size: 100%;
    padding-left: 5%;
    padding-top: 2%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

@media (max-width: 512px){ 

.grid{
    display: block;
    margin-top: 10%;
}

article:nth-child(1){
    
    margin-bottom: 10%;
}

nav{
    margin-bottom: 50%;
}

article{
    height: 60%;
}

  }
  

@media (max-width: 1024px){ 
    .grid{
        gap: 5rem;
    }

    h1{
        font-size: 80%;
    }
  }
    @media (max-width: 2048px){ 

    }