html{
    background-image: none;
    background-color: rgba(155,202,180);
}

h1{
    text-align: center;
    margin-top: 7%;
}

.grid{
    display: grid;
    gap: 10rem;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
}

img
{
    width:100%;
    align-items: center;
}

footer{
    background-color: none;
}

h2{
    margin-left: 5%;
}

.img-colour{
    margin-left: 10%;
    width: 7%;
}

.style-guide-section
{
    background-color: rgba(227,245,245);
    border-radius: 5%;
}

article{
    text-align: left;
}

@media (max-width: 512px){ 

    .grid{
        display: block;
        margin-top: 10%;
        margin-right: 10%;
    }
    
      }
    
    @media (max-width: 1024px){ 
        .grid{
            gap: 5rem;
        }
      }
        @media (max-width: 2048px){ 
    
    }
